.h6-custom{
  font-size: 11px;
}
.h4-custom{
    padding: 12px;
}
.form-horizontal .control-label {
    text-align: left;
}
.i-custom{
    font-weight: 100;
}
body{
    /*background: #ECECEE;*/
}
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.navbar-custom {
  background-color:#2E3236;
    color:#FFC48C;
    border-radius:0;
    border-color: #fff;
}
  
.navbar-custom .navbar-nav > li > a {
    color:#fff;
    padding-left:20px;
    padding-right:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
  background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #525253;
    
}
      
.navbar-custom .navbar-brand {
    color:#ECECEE;
}
.navbar-custom .navbar-toggle {
    background-color:#11273E;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}
hr{
    border: none;
    height: 4px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */

}
/*.ui-helper-clearfix { display:none; }*/